# ==========================================
# PLANTILLA DE CONFIGURACIÓN (.env)
# ==========================================
# Renombra este archivo a ".env" y rellena los valores
# NO subas el archivo ".env" real a GitHub

# 1. Telegram (Obtener en @BotFather)
TELEGRAM_TOKEN=tu_token_aqui

# 2. Google Gemini (Obtener en Google AI Studio)
GOOGLE_API_KEY=tu_api_key_aqui

# 3. MongoDB Atlas (Base de datos Cloud)
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/tfg?retryWrites=true&w=majority

# 4. RabbitMQ (CloudAMQP)
RABBITMQ_URI=amqps://usuario:password@servidor.cloudamqp.com/vhost
RABBITMQ_QUEUE=telegram_queue

# 5. Seguridad Panel Web
ADMIN_USER=admin
ADMIN_PASS=tfg2025

# 6. Ngrok (Túnel Público)
NGROK_AUTHTOKEN=tu_ngrok_token_aqui

# 7. Puertos Internos (No modificar salvo conflicto)
FLASK_EXPORTER_PORT=9091
WORKER_EXPORTER_PORT=9092
